container_commands:
        01_migrate:
            command: "django-admin.py migrate"
            leader_only : true
        02_createsuperuser:
            command: "echo \"from api.accounts.models import Account; Account.objects.create_superuser('admin','admin','admin@gmail.com','admin')\" | python manage.py runserver"
            leader_only: true
option_settings:
     aws:elasticbeanstalk:application:environment:
       DJANGO_SETTINGS_MODULE: gkart.settings
