container_commands:
    01_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
        leader_only: true
    01_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
        leader_only: true
    03_createsuperuser: 
        command: "source /var/app/venv/*/bin/activate && echo \"from accounts.models import Account; Account.objects.create_superuser('admin','admin','admin','admin@gmail.com','username')\" | python3 manage.py shell" 
        leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "gkart.settings"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static